/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('https://fastly.picsum.photos/id/434/1920/1080.jpg?hmac=K6hntIyT_PPF6fB7tMcgxB68izprK3FjXtL8pcF8HX4');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.cta-button {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
}
